body
{
background:white;
margin:20px;
background-image: url(/samhtml2/clouds.jpg);
background-repeat: no repeat;
background-size: cover;
}

#wrapper
{
margin:0 auto;
width:960px;
background:#00868B;
height:700px;
}
#top
{
width:100%;
height:20%;
background:#FF4500;
}

#left
{
width:10%;
height:80%;
background:#82CAFF;
float:left;
}

#main 
{
width:90%;
height:80%;
background:#82CAFF;
float:left;
}

#fieldset1
{
display:block;
margin-left:550px;
margin-right:10px;
border:groove;
background:white;
}

#homepage
{
display:block;
margin-left:2px;
margin-right:550px;
color:black;
background:white;
}

#googleMap
{
float: right;
width: 30%;
height: 51%;
margin-right: 6%

}

#network
{
border:groove;
background:white;
margin-right:30%;
margin-left:30%;
width:31%;
}

.img
{
padding:10px;
}

#footer
{
background:#82CAFF;
min-height:100px;
width:960px;
margin:0 auto;
text-align:center;
}

#tfnewsearch
{
float:right;
}

#online
{
display:block;
background-color:white;
color:black;
border:groove;
width:50%;
float:left;
}




#imageGallery {
  margin:25px;
  width:500px;
  border: 1px solid #f0f0f0;
}
.imageZoom ul {
  height:131px;
  padding:10px;
  margin:0;
}
.imageZoom ul li {
  list-style: none;
  margin:0;
  padding:0;
  float:left;
  width:0;
  height:131px;
}
.imagePreview {
  height:60px;
  margin:0;
  padding:0;
  background: #f0f0f0;
}
.imagePreview ul {
  margin:0;
  padding:0;
  list-style: none;
}
.imagePreview ul li{
  float: left;
  text-align: center;
  margin:13px 15px;
  padding:0;
  background: #f0f0f0;
}

.imagePreview ul li img {
  border: 1px solid #9f9f9f;
  padding:2px;
  margin:0; 
}
.imagePreview ul li a {
  outline: 0;
}
.imagePreview ul li a:hover img,
.imagePreview ul li a:active img,
.imagePreview ul li a:focus img {
  border-color:#fff;
}

.imageZoom ul li img {
  margin:0;
  width:0;
  height:0;
  border:0;
  overflow:hidden;
  ...
}

.imageZoom ul {
  ...
  background: url(Bildpfad) 0 0 no-repeat;
}

.imageZoom ul li img {
  ...
  -moz-transition: width 1s ease;
  -webkit-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease;
}

.imageZoom ul li:target img {
  height:131px;
  width:476px;
  border:1px solid #f0f0f0;
}

#imageGallery, #imagePreview
{
float:left;
width:60%;
margin:0;
}






